<h1 class="">All Contacts</h1>

<ul>
  <% @@rolodex.contacts.each do |contact| %>
    <li><%= contact.first_name %> <%= contact.last_name %></li>
    <ul>
    	<li>Email: <%= contact.email %></li>
    	<li>Note: <%= contact.note %></li>
    	<li>ID: <%= contact.id %></li>
    </ul>
  <% end %>
</ul>